

<div class="footer-main">
<div class="container">
         <div style="width: 940px; margin: 0 auto;">
             
             
             
             
             
             
             
         </div>
    
</div>
</div>
<div class="footer-second">
<div class="container">
         <div style="width: 940px; margin: 0 auto;">
            <div class="powered-by"> 
              Powered by <a href="http://www.invanode.org">InvaNode</a> developed by <a href="http://www.invatechs.com/">invatechs</a> 
            </div> 
             
         </div>
    
</div>
</div>
      
    </body>
</html>
