<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>InvaNode Admin Panel</title>
    <script src="/template/assets/js/jquery.js"></script>
        <script src="/template/assets/js/bootstrap.min.js"></script>
        <script src="/template/assets/js/wysihtml5-0.3.0.min.js"></script>
        <script src="/template/assets/js/bootstrap-wysihtml5-custom.js"></script>
        <script src="/template/assets/js/bootbox.min.js"></script>
        <script src="/template/assets/js/in.js"></script>
        <link rel="stylesheet" type="text/css" href="/template/assets/css/bootstrap-wysihtml5-0.0.2.css" />
        <link type="text/css" rel="stylesheet" media="all" href="/template/assets/css/bootstrap.min.css" />
        <script src="/template/admin/codemirror/codemirror.js"></script>
        <link rel="stylesheet" href="/template/admin/codemirror/codemirror.css" />
        <script src="/template/admin/codemirror/mode/xml/xml.js"></script>
        <script src="/template/admin/codemirror/mode/javascript/javascript.js"></script>
        <script src="/template/admin/codemirror/mode/css/css.js"></script>
        <script src="/template/admin/codemirror/mode/htmlmixed/htmlmixed.js"></script>
        <script src="/template/admin/admin.js"></script>
  <style>
      body {
        padding-top: 60px;
      }
      .CodeMirror {
        background-color: #fff; 
        min-height: 450px;
      }
      .CodeMirror-scroll{
        min-height: 450px;
      }
      .CodeMirror pre
      {
         font-size: 14px;
      }
    </style>
  </head>
  <body>
<script>
var myCodeMirror; 
String.prototype.replaceAll=function(find, replace_to){
     return this.replace(new RegExp(find, "g"), replace_to);
};

$("document").ready(function(){
   var hash = window.location.hash.split('#')[1];
   if(hash !== undefined){
     loadAll(hash);    
   }     
});
    
function addNew(type) {   
   var name = '';
   switch(type)
   {
      case "users": name ='New user';
          break;
      case "posts": name = 'New post';
          break;
      case "pages": name = 'New page';
           break;
   }
   if(type!="users" && type!="categories"){
   var toHtml = '<div class="hero-unit"><div style="margin-bottom: 30px;"><h2 style="float: left; margin-right: 40px;">'+name+' editor</h2><div style="padding-top: 15px;"><a class="btn btn-primary" href="#" onclick="saveNew(\''+type+'\');return false;"><i class="icon-pencil icon-white"></i> Save</a><a style="margin-left: 10px;" class="btn btn-danger" href="#" onclick="loadAll(\''+type+'\');return false;"><i class="icon-remove icon-white"></i> Cancel</a></div></div>';
   toHtml +='<div style="margin-left: 0px;" class="span5"><h4 style="float: left; line-height: 10px; margin-right: 10px;">Name: </h4> <input type="text" class="span4" id="ent_name" onkeyup="trackAlias()" /></div><div class="span5"><h4 style="float: left; line-height: 10px; margin-right: 10px;">Alias: </h4> <input type="text" class="span4" id="ent_alias" /></div>';
   toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left; line-height: 10px; margin-right: 17px;">Tags: </h4> <input type="text" value="" class="span5" id="ent_tags" /><span style="margin-left: 10px;vertical-align: top; font-size: 11px; color: rgba(0,0,0,0.5);">(<span style="vertical-align: top;color:red;">NOTE!</span> Separate tags with spaces only!)</span></div>';
   toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left;line-height: 10px;margin-right: 17px;">Published</h4><label class="checkbox" style="display: inline-block;padding-top: 5px;"><input id="is-published" type="checkbox"></label></div>';
   toHtml +='<textarea style="width: 810px; height: 400px;" id="editor"></textarea>';
   toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left; line-height: 10px; margin-right: 17px;">Description: </h4> <input type="text" value="" class="span9" id="ent_description" /></div>';
   toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left; line-height: 10px; margin-right: 17px;">Categories: </h4> <div id="cat-list" style="margin-left: 113px;margin-top: 6px;"></div></div>';
   toHtml +='<div class="span11" style="margin-left:0; margin-top: 10px;"><h4 style="float: left; line-height: 10px; margin-right: 17px;">Template:</h4> <div id="template-list"></div></div>'
   toHtml +='<div style="clear:both;"></div>'
   toHtml +='<div data-wysihtml5-dialog="insertImage" style="display: none;">';
   toHtml +='<label>';
   toHtml +='URL: <input data-wysihtml5-dialog-field="src" value="http://">';
   toHtml +='</label>';
   toHtml +='<label>';
   toHtml +='Alternative text: <input data-wysihtml5-dialog-field="alt" value="">';
   toHtml +='</label>';
   toHtml +='</div>';
   toHtml +='</div>';
   _in.api("get_categories", function(catData){
      _in.api("load_all_templates", function(tplData){
        tplData = $.parseJSON(tplData);
        catData = $.parseJSON(catData);
        var catList = '';
        catData.forEach(function(cat){
            catList += '<label class="checkbox" style="float:left; margin-left: 10px;"><input class="catCheckbox" type="checkbox" cat-alias="'+cat.alias+'" /> '+cat.name+'</label>';  
        });
        var tplList = '';
        tplList +='<div class="input-append">'
        tplList +='<div class="btn-group">';
        tplList +='<input class="span2" style="color:#000; cursor:default; background-color: #fff;" alias-val="base" id="appendedDropdownButtonTemplate" type="text" value="base"></input>';
        tplList +='<button class="btn dropdown-toggle" data-toggle="dropdown">';
        tplList +='<span class="caret"></span>';
        tplList +='</button>';
        tplList +='<ul class="dropdown-menu">';
        tplData.forEach(function(tpl){
            tplList += '<li><a onclick="PPESetTemplate(\''+tpl+'\');return false;" href="#">'+tpl+'</a></li>';
        });
        tplList +='</ul>';
        tplList +='</div>';
        tplList +='</div><span style="margin: -3px 0 0 10px; font-size: 14px;">(leave "base" for default)</span></div>';
        tplList +='</div>';
        $("#main_canv").html(toHtml);
        $("#cat-list").html(catList);
        $("#template-list").html(tplList);
        $('#editor').wysihtml5({
            "html": true,
            "color": true
        });
        var dialog = new wysihtml5.toolbar.Dialog(
            document.querySelector("[data-wysihtml5-command='insertImage']"),
            document.querySelector("[data-wysihtml5-dialog='insertImage']")
        );
        dialog.observe("save", function(attributes) {});
      });  
    });
  }
  else if(type=="categories"){
      _in.api("get_categories", function(catData){
          catData = $.parseJSON(catData);
          var catList = '';
          var curParent = {name:"null",alias:"null"}; 
          catData.forEach(function(cat){
              catList += '<li><a onclick="catEditorSetParent(\''+cat.alias+'\', \''+cat.name+'\');return false;" href="#">'+cat.name+'</a></li>';
          });
          catList += '<li><a onclick="catEditorSetParent(\'null\',\'null\');return false;" href="#">null</a></li>';
          var name = 'New category';
          var toHtml = '<div class="hero-unit"><div style="margin-bottom: 30px;"><h2 style="float: left; margin-right: 40px;">'+name+'</h2><div style="padding-top: 15px;"><a class="btn btn-primary" href="#" onclick="saveNew(\'categories\');return false;"><i class="icon-pencil icon-white"></i> Save</a><a style="margin-left: 10px;" class="btn btn-danger" href="#" onclick="loadAll(\'categories\');return false;"><i class="icon-remove icon-white"></i> Cancel</a></div></div>';
          toHtml +='<div style="font-size: 14px;">';
          toHtml +='<div><div style="float:left;width: 130px;"><h4>Name:</h4></div><div><input id="cat-name" type="text" class="span4" onkeyup="trackCatAlias()" /></div></div>';
          toHtml +='<div><div style="float:left;width: 130px;"><h4>Alias:</h4></div><div><input id="cat-alias" type="text" class="span4" /></div></div>';
          toHtml +='<div><div style="float:left;width: 130px;"><h4>On Index:</h4></div><div><input id="cat-onindex" type="checkbox" /></div></div>';
          toHtml +='<div style="margin-top: 10px;"><div style="float:left;width: 130px;"><h4>Searchable:</h4></div><div><input id="cat-searchable" checked="checked" type="checkbox" /></div></div>';
          toHtml +='<div style="margin-top: 10px;"><div style="float:left; width: 130px;"><h4>Parent:</h4><br /></div>'
          toHtml +='<div class="input-append">'
          toHtml +='<div class="btn-group">';
          toHtml +='<input class="span4" style="color:#000; cursor:default; background-color: #fff;" alias-val="'+curParent.alias+'" id="appendedDropdownButton" type="text" value="'+curParent.name+'"></input>';
          toHtml +='<button class="btn dropdown-toggle" data-toggle="dropdown">';
          toHtml +='<span class="caret"></span>';
          toHtml +='</button>';
          toHtml +='<ul class="dropdown-menu">';
          toHtml +=catList;
          toHtml +='</ul>';
          toHtml +='</div>';
          toHtml +='</div><span style="margin: -3px 0 0 10px;">(null for root)</span></div>';
          toHtml +='</div>';
          toHtml +='</div>';
          $("#main_canv").html(toHtml);
      });
  }
  else if(type=="users")
  {
      var toHtml = '<div class="hero-unit"><div style="margin-bottom: 30px;"><h2 style="float: left; margin-right: 40px;">'+name+' editor</h2><div style="padding-top: 15px;"><a class="btn btn-primary" href="#" onclick="saveNew(\''+type+'\');return false;"><i class="icon-pencil icon-white"></i> Save</a><a style="margin-left: 10px;" class="btn btn-danger" href="#" onclick="loadAll(\''+type+'\');return false;"><i class="icon-remove icon-white"></i> Cancel</a></div></div>';  
      toHtml +='<div class="span2" style="margin-left: 0px;"><h4 style="float: left; line-height: 10px; margin-right: 10px;">Name: </h4></div><div><input type="text" class="span3" id="ent_name"/></div>';
      toHtml +='<div style="clear:both;"></div>';
      toHtml +='<div class="span2" style="margin-left: 0;"><h4 style="float: left; line-height: 10px; margin-right: 10px;">Password: </h4></div><div><input type="text" class="span3" id="ent_password" /></div>';
      toHtml +='<div style="clear:both;"></div>';
      toHtml +='<div class="span2" style="margin-left: 0;"><h4 style="float: left; line-height: 10px; margin-right: 10px;">Penname: </h4></div><div><input type="text" class="span3" id="ent_penname" /></div>';
      toHtml +='<div style="clear:both;"></div>';
      toHtml +='<div class="span2" style="margin-left: 0;"><h4 style="float: left; line-height: 10px; margin-right: 10px;">Level: </h4></div><div>';
      toHtml +='<div class="input-append">'
      toHtml +='<div class="btn-group">';
      toHtml +='<input class="span2" style="color:#000; cursor:default; background-color: #fff;" id="appendedDropdownButton" type="text" value="0"></input>';
      toHtml +='<button class="btn dropdown-toggle" data-toggle="dropdown">';
      toHtml +='<span class="caret"></span>';
      toHtml +='</button>';
      toHtml +='<ul class="dropdown-menu">';
      toHtml +='<li><a onclick="setUserLevel(0);return false" href="#">0</a></li><li><a onclick="setUserLevel(1);return false" href="#">1</a></li><li><a onclick="setUserLevel(2);return false" href="#">2</a></li><li><a onclick="setUserLevel(3);return false" href="#">3</a></li><li><a onclick="setUserLevel(4);return false" href="#">4</a></li>';
      toHtml +='</ul>';
      toHtml +='</div>';
      toHtml +='</div>';
      toHtml +='</div>';
      $("#main_canv").html(toHtml);
  }    
}

function saveNew(type) {
  if(type!="users" && type!="categories"){
  var name = $("#ent_name").val();
  var alias =  $("#ent_alias").val();
  var text = $('#editor').val();
  var description = $("#ent_description").val();
  var tags = $("#ent_tags").val();
  var published = 0;
  if($("#is-published").is(':checked')){
      published = 1; 
  }

  var categories=[];
  $(".catCheckbox").each(function(i){
     if($(this).is(':checked')) categories[categories.length] = $(this).attr("cat-alias");
  });
  var template = $("#appendedDropdownButtonTemplate").val();
  _in.api('post_page_savings', {name:name,alias:alias,type:type,text:text,description:description,published:published,tags:tags,categories:categories,template:template},function(data){
     bootbox.alert(data, function() {
          if(data == "done"){
              loadAll(type);
          }
      }); 
  });
  }
  else if(type=="categories"){
      var parent = $("#appendedDropdownButton").attr("alias-val");
      var name = $("#cat-name").val();
      var onindex = 0;
      if($("#cat-onindex").is(':checked')){
          onindex = 1; 
      }
      var searchable = 0;
      if($("#cat-searchable").is(':checked')){
          searchable = 1; 
      }
      var alias = $("#cat-alias").val();
      _in.api('post_page_savings', {type:type,name:name,alias:alias,parent:parent,onindex:onindex,searchable:searchable},function(data){
          bootbox.alert(data, function() {
              if(data == "done"){
                  loadAll(type);
              }
          }); 
      });
 }
  else if(type=="users"){
    var name = $("#ent_name").val();
    var password =  $("#ent_password").val();
    var level = $("#appendedDropdownButton").val();
    var penname = $("#ent_penname").val();
    _in.api('post_page_savings', {name:name,password:password,type:type,level:level,penname:penname},function(data){
       bootbox.alert(data, function() {
           if(data == "done"){
                loadAll(type);
            }
        }); 
    }); 
  }
}
    
function openEditor(data, type, id) {   
   data = $.parseJSON(data);
   var name = '';
   switch(type)
   {
      case "users": name ='Edit user';
          break;
      case "posts": name = 'Edit post';
          break;
      case "pages": name = 'Edit page';
          break;
   }
   var toHtml = '<div class="hero-unit"><div style="margin-bottom: 30px;"><h2 style="float: left; margin-right: 40px;">'+name+'</h2><div style="padding-top: 15px;"><a class="btn btn-primary" href="#" onclick="saveEdited(\''+type+'\', '+id+');return false;"><i class="icon-pencil icon-white"></i> Save</a><a style="margin-left: 10px;" class="btn btn-danger" href="#" onclick="loadAll(\''+type+'\');return false;"><i class="icon-remove icon-white"></i> Cancel</a></div></div>';
   toHtml +='<div style="margin-left: 0px;" class="span5"><h4 style="float: left; line-height: 10px; margin-right: 10px;">Name: </h4> <input type="text" value="'+data[0].name+'" class="span4" id="ent_name" onkeyup="trackAlias()" /></div><div class="span5"><h4 style="float: left; line-height: 10px; margin-right: 10px;">Alias: </h4> <input type="text" value="'+data[0].alias+'" class="span4" id="ent_alias" /></div>';
   if(!data[0].tags)
   {
       data[0].tags = [];
   }
   toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left; line-height: 10px; margin-right: 17px;">Tags: </h4> <input type="text" value="'+data[0].tags.join(" ")+'" class="span5" id="ent_tags" /><span style="margin-left: 10px;vertical-align: top; font-size: 11px; color: rgba(0,0,0,0.5);">(<span style="vertical-align: top;color:red;">NOTE!</span> Separate tags with spaces only!)</span></div>';
   var isPublished = '';
   if(data[0].published == 1) isPublished = 'checked="checked"'; 
   toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left;line-height: 10px;margin-right: 17px;">Published</h4><label class="checkbox" style="display: inline-block;padding-top: 5px;"><input '+isPublished+' id="is-published" type="checkbox"></label></div>';
   toHtml +='<textarea style="width: 810px; height: 400px;" id="editor">'+data[0].smalldata+'--CUT--'+data[0].data+'</textarea>';
   toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left; line-height: 10px; margin-right: 17px;">Description: </h4> <input type="text" value="'+data[0].description+'" class="span9" id="ent_description" /></div>';
   if(!data[0].categories)
   {
       data[0].categories = [];
   }
   toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left; line-height: 10px; margin-right: 17px;">Categories: </h4> <div id="cat-list" style="margin-left: 113px;margin-top: 6px;"></div></div>';
   toHtml +='<div class="span11" style="margin-left:0; margin-top: 10px;"><h4 style="float: left; line-height: 10px; margin-right: 17px;">Template:</h4> <div id="template-list"></div></div>'
   toHtml +='<div style="clear:both;"></div>'
   toHtml +='<div data-wysihtml5-dialog="insertImage" style="display: none;">';
   toHtml +='<label>';
   toHtml +='URL: <input data-wysihtml5-dialog-field="src" value="http://">';
   toHtml +='</label>';
   toHtml +='<label>';
   toHtml +='Alternative text: <input data-wysihtml5-dialog-field="alt" value="">';
   toHtml +='</label>';
   toHtml +='</div>';
   toHtml +='</div>';
   _in.api("get_categories", function(catData){
      _in.api("load_all_templates", function(tplData){
        catData = $.parseJSON(catData);
        tplData = $.parseJSON(tplData);
        var catList = '';
        catData.forEach(function(cat){
            if(data[0].categories.indexOf(cat.alias)!=-1) var ch = 'checked="checked"';
            else var ch = '';
            catList += '<label class="checkbox" style="float:left; margin-left: 10px;"><input class="catCheckbox" '+ch+' type="checkbox" cat-alias="'+cat.alias+'" /> '+cat.name+'</label>';  
        });
        data[0].template = data[0].template ? data[0].template : "base";
        var tplList = '';
        tplList +='<div class="input-append">'
        tplList +='<div class="btn-group">';
        tplList +='<input class="span2" style="color:#000; cursor:default; background-color: #fff;" alias-val="base" id="appendedDropdownButtonTemplate" type="text" value="'+data[0].template+'"></input>';
        tplList +='<button class="btn dropdown-toggle" data-toggle="dropdown">';
        tplList +='<span class="caret"></span>';
        tplList +='</button>';
        tplList +='<ul class="dropdown-menu">';
        tplData.forEach(function(tpl){
            tplList += '<li><a onclick="PPESetTemplate(\''+tpl+'\');return false;" href="#">'+tpl+'</a></li>';
        });
        tplList +='</ul>';
        tplList +='</div>';
        tplList +='</div><span style="margin: -3px 0 0 10px; font-size: 14px;">(leave "base" for default)</span></div>';
        tplList +='</div>';
        $("#main_canv").html(toHtml);
        $("#cat-list").html(catList);
        $("#template-list").html(tplList);
        $('#editor').wysihtml5({
            "html": true,
            "color": true
        });
        var dialog = new wysihtml5.toolbar.Dialog(
            document.querySelector("[data-wysihtml5-command='insertImage']"),
            document.querySelector("[data-wysihtml5-dialog='insertImage']")
        );
        dialog.observe("save", function(attributes) {});
     });
   });
}
    
function saveEdited(type, id) {
  if(type!="users" && type!="categories"){
      var name = $("#ent_name").val();
      var alias =  $("#ent_alias").val();
      var text = $('#editor').val();
      var description = $("#ent_description").val();
      var tags = $("#ent_tags").val();
      var published = 0;
      if($("#is-published").is(':checked')){
          published = 1; 
      }
      var categories=[];
      $(".catCheckbox").each(function(i){
          if($(this).is(':checked')) categories[categories.length] = $(this).attr("cat-alias");
      });
      var template = $("#appendedDropdownButtonTemplate").val();
      var todo='edit';
      _in.api('post_page_editing', {todo:todo,id:id,name:name,alias:alias,type:type,text:text,description:description,published:published,tags:tags,categories:categories,template:template},function(data){
          bootbox.alert(data, function() {
              if(data == "done"){
                  loadAll(type);
              }
          }); 
      });
 }
 else if(type=="categories"){
      var todo='edit_category';
      var parent = $("#appendedDropdownButton").attr("alias-val");
      var onindex = 0;
      if($("#cat-onindex").is(':checked')){
          onindex = 1; 
      }
      var searchable = 0;
      if($("#cat-searchable").is(':checked')){
          searchable = 1; 
      }
      _in.api('post_page_editing', {todo:todo,id:id,parent:parent,onindex:onindex,searchable:searchable},function(data){
      bootbox.alert(data, function() {
          if(data == "done"){
              loadAll(type);
          }
      }); 
  });
 }
 else if(type=="users"){
 var todo = "edit_user_pass";
 var password = $("#ent_password").val();
 var level = $("#appendedDropdownButton").val();
 _in.api('post_page_editing', {todo:todo,id:id,password:password,level:level},function(data){
     bootbox.alert(data, function() {
          if(data == "done"){
              loadAll(type);
          }
      }); 
  });
 }
}

$(document).ready(function(){
  $("li.up"+userLevel).css("display","list-item")
})    
</script>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{SITE_URL}}">{{APPNAME}}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="up0" style="display:none;"><a href="#dashboard" onclick="loadAll('dashboard');">Dashboard</a></li>
              <li class="up0 up1" style="display:none;"><a href="#pages" onclick="loadAll('pages');">Pages</a></li>
              <li class="up0 up1 up2 up3" style="display:none;"><a href="#posts" onclick="loadAll('posts');">Posts</a></li>
              <li class="up0 up1" style="display:none;"><a href="#categories" onclick="loadAll('categories');">Categories</a></li>
              <li class="up0" style="display:none;"><a href="#users" onclick="loadAll('users');">Users</a></li>
              <li class="up0" style="display:none;"><a href="#templates" onclick="loadAll('templates');">Templates</a></li>
              <li class="up0" style="display:none;"><a href="#plugins" onclick="loadPluginsAdmin();">Plugins</a></li>
            </ul>
             {{USER_MENU}} 
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container" id="main_canv">
      <h1>InvaNode CMS Admin Panel</h1>
      <h3>Hello, {{USER_NAME}}!</h3>
      <div style="margin-left: 0px;" class="span7">
        Select the menu item above to start.
      </div>    
    </div> <!-- /container -->
</body>
</html>