<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>InvaNode Admin Panel</title>
    <script src="/template/assets/js/jquery.js"></script>
        <script src="/template/assets/js/bootstrap.min.js"></script>
        <script src="/template/assets/js/wysihtml5-0.3.0.min.js"></script>
        <script src="/template/assets/js/bootstrap-wysihtml5-custom.js"></script>
        <script src="/template/assets/js/bootbox.min.js"></script>
        <script src="/template/assets/js/in.js"></script>
        <link rel="stylesheet" type="text/css" href="/template/assets/css/bootstrap-wysihtml5-0.0.2.css" />
        <link type="text/css" rel="stylesheet" media="all" href="/template/assets/css/bootstrap.min.css" />
        <script src="/template/admin/codemirror/codemirror.js"></script>
        <link rel="stylesheet" href="/template/admin/codemirror/codemirror.css" />
        <script src="/template/admin/codemirror/mode/xml/xml.js"></script>
        <script src="/template/admin/codemirror/mode/javascript/javascript.js"></script>
        <script src="/template/admin/codemirror/mode/css/css.js"></script>
        <script src="/template/admin/codemirror/mode/htmlmixed/htmlmixed.js"></script>
  <style>
      body {
        padding-top: 60px;
      }
      .CodeMirror {
        background-color: #fff; 
        min-height: 450px;
      }
      .CodeMirror-scroll{
      min-height: 450px;
      }
      .CodeMirror pre
      {
          font-size: 14px
      }
    </style>
  </head>
  <body>
<script>
   var myCodeMirror; 
    String.prototype.replaceAll=function(find, replace_to){
     return this.replace(new RegExp(find, "g"), replace_to);
};

function getLocalImages()
{
    _in.api("get_local_images", function(data){
        var out = "";
        if(data=="error"){
            out = "Error loading files";
        }
        else
        {    
        data = $.parseJSON(data);
        var i = data.length;
         while(i--)
             {
                if(data[i].split('.')[data[i].split('.').length-1]!='txt')
                out +=  '<div style="float:left; padding: 6px; border: 1px solid #ccc; margin:0 10px 10px 0; cursor:pointer;" onclick="insertLocalImage(\''+data[i]+'\')"><img style="height: 100px; width: auto;" src="/images/'+encodeURI(data[i])+'" /></div>'
               
             }
         out +=  '<div style="float:left; height: 100px; width: 100px; text-align: center; padding: 6px; border: 1px solid #ccc; margin:0 10px 10px 0; cursor:pointer; position:relative;">'+
                 '<input type="file" name="fileBox" id="fileBox" style="opacity: 0; position: absolute; top:0; left:0; width:100%; height:100%; cursor:pointer;" onchange="addNewImage(event)">'+
                 '<span style="font-size: 94px;line-height: 99px; color:#08c;" id="image-load-loader-place">\+</span></div>'    
        $("#local-images-holder").html(out);
        }  
    });
}

function insertLocalImage(fileName)
{
    $("#local-image-url").val("http://"+location.host+'/images/'+encodeURI(fileName));
}
    
function addNewImage(event)
{
  $("#image-load-loader-place").html('<img src="/template/assets/img/loading.gif" width: 40px; height: 40px; />');  
  var SelectedFile = event.target.files[0];
  Name = SelectedFile.name;
  Size = SelectedFile.size;
  FReader = new FileReader();   
  FReader.onload = function(evn){  
            _in.api("upload_image_file",{'filedata':evn.target.result, 'name':Name, 'size':Size},function(data){
                    if(data=="error"){alert("somthing went wrong!"); getLocalImages();}
                    else{
                        getLocalImages();
                    }
    });
  }
  FReader.readAsDataURL(SelectedFile);
}
    $("document").ready(function(){
       var hash = window.location.hash.split('#')[1];
       if(hash !== undefined){
            loadAll(hash);    
       }     
    });
    function loadAll(type)
    {   
        if(type=="dashboard")
            {
                loadDashboard();
                return;
            }
        
        if(type=="plugins")
            {
                loadPluginsAdmin();
                return;
            }
        var todo='load_all_'+type;
        _in.api(todo, function(data){
            var toHtml;
            data = $.parseJSON(data);
            if(type!="templates" && type!="users" && type!="categories"){
                toHtml ='<h3 style="float: left; margin-right: 40px;">'+type.charAt(0).toUpperCase()+type.slice(1)+'</h3><div style="margin-top: 15px;"><a class="btn btn-primary" href="#" onclick="addNew(\''+type+'\');return false;"><i class="icon-pencil icon-white"></i> Add new</a></div>';
                toHtml +='<div class="span15">';
                toHtml +='<div class="span1" style="min-height:50px; width: 20px;"><h4>ID</h4></div><div class="span4"><h4>Name</h4></div><div class="span2"><h4>Author</h4></div><div class="span2"><h4>Published</h4></div><div class="span3"><h4>Options</h4></div>';
                toHtml +='<div style="clear:both; border-top: 1px solid #DDD;"></div>';
                data.forEach(function(line){
                    var published;
                    if(line.published == 0) published = '<span style="font-weight: bold;color: red">NO</span>'
                    if(line.published == 1) published = '<span style="font-weight: bold;color: green">YES</span>'
                    toHtml +='<div class="span1" style="min-height:50px; margin-top: 14px; width: 20px;">'+line.id+'</div><div class="span4" style="min-height:50px; margin-top: 14px;"><a href="{{SITE_URL}}'+line.alias+'" target="_blank">'+line.name+'</a></div>';
                    toHtml +='<div class="span2" style="min-height: 50px;margin-top: 14px;">'+line.author+'</div>';
                    toHtml +='<div class="span2" style="min-height: 50px;margin-top: 14px;">'+published+'</div>';
                    toHtml +='<div class="span3">'+buttonsGroup(type, line.id)+'</div>';
                    toHtml +='<div style="clear:both; border-top: 1px solid #DDD;"></div>';
                });
                toHtml +='</div>';
            }
            else if(type == "categories"){
                toHtml ='<h3 style="float: left; margin-right: 40px;">'+type.charAt(0).toUpperCase()+type.slice(1)+'</h3><div style="margin-top: 15px;"><a class="btn btn-primary" href="#" onclick="addNew(\''+type+'\');return false;"><i class="icon-pencil icon-white"></i> Add new</a></div>';
                toHtml +='<div class="span15">';
                toHtml +='<div class="span1" style="min-height:50px; width: 20px;"><h4>ID</h4></div><div class="span3"><h4>Name</h4></div><div class="span3"><h4>Alias</h4></div><div class="span3"><h4>Parent</h4></div><div class="span2"><h4>Options</h4></div>';
                toHtml +='<div style="clear:both; border-top: 1px solid #DDD;"></div>';
                data.forEach(function(line){
                    toHtml +='<div class="span1" style="min-height:50px; margin-top: 14px; width: 20px;">'+line.id+'</div><div class="span3" style="min-height:50px; margin-top: 14px;"><a href="{{SITE_URL}}category/'+line.alias+'" target="_blank">'+line.name+'</a></div>';
                    toHtml +='<div class="span3" style="min-height: 50px;margin-top: 14px;">'+line.alias+'</div>';
                    toHtml +='<div class="span3" style="min-height: 50px;margin-top: 14px;">'+line.parent+'</div>';
                    toHtml +='<div class="span2">'+buttonsGroup(type, line.id)+'</div>';
                    toHtml +='<div style="clear:both; border-top: 1px solid #DDD;"></div>';
                });
                toHtml +='</div>';
            }
            else if(type == "users"){
                toHtml ='<h3 style="float: left; margin-right: 40px;">'+type.charAt(0).toUpperCase()+type.slice(1)+'</h3><div style="margin-top: 15px;"><a class="btn btn-primary" href="#" onclick="addNew(\''+type+'\');return false;"><i class="icon-pencil icon-white"></i> Add new</a></div>';
                toHtml +='<div class="span15">';
                toHtml +='<div class="span1" style="min-height:50px;"><h4>ID</h4></div><div class="span7"><h4>Name</h4></div><div class="span3"><h4>Options</h4></div>';
                toHtml +='<div style="clear:both; border-top: 1px solid #DDD;"></div>';
                data.forEach(function(line){
                    toHtml +='<div class="span1" style="min-height:50px; margin-top: 14px;">'+line.id+'</div><div class="span7" style="min-height:50px; margin-top: 14px;"><a href="{{SITE_URL}}'+line.alias+'" target="_blank">'+line.name+'</a></div><div class="span3">'+buttonsGroup(type, line.id)+'</div>';
                    toHtml +='<div style="clear:both; border-top: 1px solid #DDD;"></div>';
                });
                toHtml +='</div>';
            }
            else{
                toHtml ='<h3 style="float: left; margin-right: 40px;">'+type.charAt(0).toUpperCase()+type.slice(1)+'</h3><div style="margin-top: 15px;"></div><button class="btn btn-inverse" onclick="reloadTemplate()" style="">Reload Templates</button>';
                toHtml +='<div style="clear:both; border-top: 1px solid #DDD;"></div>';
                var i = data.length;
                while(i--){
                    toHtml +='<div class="span1" style="min-height:50px; margin-top: 14px;"></div><div class="span7" style="min-height:50px; margin-top: 14px;">'+data[i]+'</div><div class="span3">'+buttonsGroup(type, data[i])+'</div>';
                    toHtml +='<div style="clear:both; border-top: 1px solid #DDD;"></div>';  
                }  
            }
            $("#main_canv").html(toHtml);
        });
    }
        
    function buttonsGroup(type, id)
    {
        if(type=='users'){
            return '<div class="btn-toolbar"><div class="btn-group"><a class="btn btn-primary" href="#" onclick="editUser('+id+');return false;"><i class="icon-pencil icon-white"></i> Change password</a><a class="btn btn-danger" href="#" onclick="deletePPU(\''+type+'\', '+id+');return false;"><i class="icon-remove"></i></a></div></div>';
        }
        else if(type=='templates'){
            return '<div class="btn-toolbar"><div class="btn-group"><a class="btn" href="#" onclick="editTemplate(\''+id+'\');return false;"><i class="icon-edit"></i></a></div></div>';
        }
        else{
            return '<div class="btn-toolbar"><div class="btn-group"><a class="btn" href="#" onclick="editPPU(\''+type+'\', '+id+');return false;"><i class="icon-edit"></i></a><a class="btn btn-danger" href="#" onclick="deletePPU(\''+type+'\', '+id+');return false;"><i class="icon-remove"></i></a></div></div>';
        }
    }
    
    function editUser(id, userName)
    {   
        var type="users";
        var name ='Change password';
        var toHtml = '<div class="hero-unit"><div style="margin-bottom: 30px;"><h2 style="float: left; margin-right: 40px;">'+name+' editor</h2><div style="padding-top: 15px;"><a class="btn btn-primary" href="#" onclick="saveEdited(\''+type+'\', '+id+');return false;"><i class="icon-pencil icon-white"></i> Save</a><a style="margin-left: 10px;" class="btn btn-danger" href="#" onclick="loadAll(\''+type+'\');return false;"><i class="icon-remove icon-white"></i> Cancel</a></div></div>';  
            toHtml +='<div class="span5"><h4 style="float: left; line-height: 10px; margin-right: 10px;">New password: </h4> <input type="text" class="span3" id="ent_password" /></div>';
            $("#main_canv").html(toHtml);
    }
    
    function editTemplate(fName)
    {
         _in.api("process_template_data",{todo:"get",fname:fName,fdata:"null"},function(data){
          if(data!="error"){
            var toHtml = '<div class="hero-unit"><div style="margin-bottom: 30px;"><h2 style="float: left; margin-right: 40px;">'+fName+'</h2><div style="padding-top: 15px;"><a class="btn btn-primary" href="#" onclick="saveTemplate(\''+fName+'\');return false;"><i class="icon-pencil icon-white"></i> Save</a><a style="margin-left: 10px;" class="btn btn-danger" href="#" onclick="loadAll(\'templates\');return false;"><i class="icon-remove icon-white"></i> Cancel</a></div></div>';
         
            toHtml +='<textarea style="width: 810px; height: 650px; background-color: #fff;" id="editor"></textarea>';
            
            toHtml +='</div>';
            $("#main_canv").html(toHtml);
            $('#editor').val(data);
            myCodeMirror = CodeMirror.fromTextArea(editor);
          }
          else{
              bootbox.alert("Error loading file "+fName);
          }
        });
    }
    function saveTemplate(fName)
    {
        myCodeMirror.save();
        var fdata = $('#editor').val();
         _in.api("process_template_data",{todo:"save",fname:fName,fdata:fdata},function(data){
          if(data!="error"){
             bootbox.alert("File <b>"+fName+"</b> saved!", function(){loadAll("templates");});
            }
          else{
              bootbox.alert("Error saving file "+fName);
          }
        });
    }
    
    function addNew(type)
    {   
         var name = '';
         switch(type)
         {
            case "users": name ='New user';
                break;
            case "posts": name = 'New post';
                break;
            case "pages": name = 'New page';
                 break;
         }
         if(type!="users" && type!="categories"){
         var toHtml = '<div class="hero-unit"><div style="margin-bottom: 30px;"><h2 style="float: left; margin-right: 40px;">'+name+' editor</h2><div style="padding-top: 15px;"><a class="btn btn-primary" href="#" onclick="saveNew(\''+type+'\');return false;"><i class="icon-pencil icon-white"></i> Save</a><a style="margin-left: 10px;" class="btn btn-danger" href="#" onclick="loadAll(\''+type+'\');return false;"><i class="icon-remove icon-white"></i> Cancel</a></div></div>';
         toHtml +='<div style="margin-left: 0px;" class="span5"><h4 style="float: left; line-height: 10px; margin-right: 10px;">Name: </h4> <input type="text" class="span4" id="ent_name" onkeyup="trackAlias()" /></div><div class="span5"><h4 style="float: left; line-height: 10px; margin-right: 10px;">Alias: </h4> <input type="text" class="span4" id="ent_alias" /></div>';
         toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left; line-height: 10px; margin-right: 17px;">Tags: </h4> <input type="text" value="" class="span5" id="ent_tags" /><span style="margin-left: 10px;vertical-align: top; font-size: 11px; color: rgba(0,0,0,0.5);">(<span style="vertical-align: top;color:red;">NOTE!</span> Separate tags with spaces only!)</span></div>';
         toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left;line-height: 10px;margin-right: 17px;">Published</h4><label class="checkbox" style="display: inline-block;padding-top: 5px;"><input id="is-published" type="checkbox"></label></div>';
         toHtml +='<div style="clear:both;"></div><textarea style="width: 810px; height: 400px;" id="editor"></textarea>';
         toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left; line-height: 10px; margin-right: 17px;">Description: </h4> <input type="text" value="" class="span9" id="ent_description" /></div>';
         toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left; line-height: 10px; margin-right: 17px;">Categories: </h4> <div id="cat-list" style="margin-left: 113px;margin-top: 6px;"></div></div>';
         toHtml +='<div style="clear:both;"></div>'
         toHtml +='<div data-wysihtml5-dialog="insertImage" style="display: none;">';
         toHtml +='<label>';
         toHtml +='URL: <input data-wysihtml5-dialog-field="src" value="http://">';
         toHtml +='</label>';
         toHtml +='<label>';
         toHtml +='Alternative text: <input data-wysihtml5-dialog-field="alt" value="">';
         toHtml +='</label>';
         toHtml +='</div>';
         toHtml +='</div>';
         _in.api("get_categories", function(catData){
            catData = $.parseJSON(catData);
            var catList = '';
            catData.forEach(function(cat){
                catList += '<label class="checkbox" style="float:left; margin-left: 10px;"><input class="catCheckbox" type="checkbox" cat-alias="'+cat.alias+'" /> '+cat.name+'</label>';  
            })
            $("#main_canv").html(toHtml);
            $("#cat-list").html(catList);
            myCodeMirror = CodeMirror.fromTextArea(editor);
         
         });
        }
        else if(type=="categories"){
            _in.api("get_categories", function(catData){
                catData = $.parseJSON(catData);
                var catList = '';
                var curParent = {name:"null",alias:"null"}; 
                catData.forEach(function(cat){
                    catList += '<li><a onclick="catEditorSetParent(\''+cat.alias+'\', \''+cat.name+'\');return false;" href="#">'+cat.name+'</a></li>';
                });
                catList += '<li><a onclick="catEditorSetParent(\'null\',\'null\');return false;" href="#">null</a></li>';
                var name = 'Edit category';
                var toHtml = '<div class="hero-unit"><div style="margin-bottom: 30px;"><h2 style="float: left; margin-right: 40px;">'+name+'</h2><div style="padding-top: 15px;"><a class="btn btn-primary" href="#" onclick="saveNew(\'categories\');return false;"><i class="icon-pencil icon-white"></i> Save</a><a style="margin-left: 10px;" class="btn btn-danger" href="#" onclick="loadAll(\'categories\');return false;"><i class="icon-remove icon-white"></i> Cancel</a></div></div>';
                toHtml +='<div style="font-size: 14px;">';
                toHtml +='<div>Name: <input id="cat-name" class="input-medium" onkeyup="trackCatAlias()" /></div>';
                toHtml +='<div>Alias: <input id="cat-alias" class="input-medium" /></div>';
                toHtml +='<div style="float:left;">Parent (null for root category): </div>'
                toHtml +='<div class="input-append">'
                toHtml +='<div class="btn-group">';
                toHtml +='<input class="input-medium" style="color:#000; cursor:default; background-color: #fff;" alias-val="'+curParent.alias+'" id="appendedDropdownButton" type="text" value="'+curParent.name+'"></input>';
                toHtml +='<button class="btn dropdown-toggle" data-toggle="dropdown">';
                toHtml +='<span class="caret"></span>';
                toHtml +='</button>';
                toHtml +='<ul class="dropdown-menu">';
                toHtml +=catList;
                toHtml +='</ul>';
                toHtml +='</div>';
                toHtml +='</div>';
                toHtml +='</div>';
                toHtml +='</div>';
                $("#main_canv").html(toHtml);
            });
        }
        else
        {
            var toHtml = '<div class="hero-unit"><div style="margin-bottom: 30px;"><h2 style="float: left; margin-right: 40px;">'+name+' editor</h2><div style="padding-top: 15px;"><a class="btn btn-primary" href="#" onclick="saveNew(\''+type+'\');return false;"><i class="icon-pencil icon-white"></i> Save</a><a style="margin-left: 10px;" class="btn btn-danger" href="#" onclick="loadAll(\''+type+'\');return false;"><i class="icon-remove icon-white"></i> Cancel</a></div></div>';  
            toHtml +='<div style="margin-left: 0px;" class="span4"><h4 style="float: left; line-height: 10px; margin-right: 10px;">Name: </h4> <input type="text" class="span3" id="ent_name"/></div><div class="span5"><h4 style="float: left; line-height: 10px; margin-right: 10px;">Password: </h4> <input type="text" class="span3" id="ent_password" /></div>';
            $("#main_canv").html(toHtml);
        }    
    }
    
    function trackAlias()
    {
       var str = $("#ent_name").val();
       $("#ent_alias").val(str.toLowerCase().replace(new RegExp(" ", "g"), "_"));
    }
    
    function trackCatAlias()
    {
       var str = $("#cat-name").val();
       $("#cat-alias").val(str.toLowerCase().replace(new RegExp(" ", "g"), "_"));
    }
    
    function saveNew(type)
    {
        myCodeMirror.save();
        if(type!="users" && type!="categories"){
        var name = $("#ent_name").val();
        var alias =  $("#ent_alias").val();
        var text = $('#editor').val();
        var description = $("#ent_description").val();
        var tags = $("#ent_tags").val();
        var published = 0;
        if($("#is-published").is(':checked')){
            published = 1; 
        }
        var categories=[];
        $(".catCheckbox").each(function(i){
           if($(this).is(':checked')) categories[categories.length] = $(this).attr("cat-alias");
        });
        _in.api('post_page_savings', {name:name,alias:alias,type:type,text:text,description:description,published:published,tags:tags,categories:categories},function(data){
           bootbox.alert(data, function() {
                if(data == "done"){
                    loadAll(type);
                }
            }); 
        });
        }
        else if(type=="categories"){
            var parent = $("#appendedDropdownButton").attr("alias-val");
            var name = $("#cat-name").val();
            var alias = $("#cat-alias").val();
            alert(parent)
            _in.api('post_page_savings', {type:type,name:name,alias:alias,parent:parent},function(data){
                bootbox.alert(data, function() {
                    if(data == "done"){
                        loadAll(type);
                    }
                }); 
            });
       }
        else{
        var name = $("#ent_name").val();
        var password =  $("#ent_password").val();
        _in.api('post_page_savings', {name:name,password:password,type:type},function(data){
           bootbox.alert(data, function() {
               if(data == "done"){
                    loadAll(type);
                }
            }); 
        });
        
        }
    }
    
    function deletePPU(type, id)
    {
        bootbox.confirm("Do you realy want to delete?", function(confirm){
            if(confirm){
                var todo='delete';
                _in.api("post_page_editing", {todo:todo, type:type, id:id}, function(data){
                  bootbox.alert(data, function() {
                        if(data == "done"){
                            loadAll(type);
                        }
                    });
                });
            }    
        });
    }
    
    function editPPU(type, id)
    {   
        var todo='opendata';
        _in.api("post_page_editing", {todo:todo, type:type, id:id}, function(data){
               if(type=="categories"){
                   openCatEditor(data, id);
               }    
               else {
                   openEditor(data, type, id);
               }    
        });
    }
    
    function openEditor(data, type, id)
    {   
         data = $.parseJSON(data);
         var name = '';
         switch(type)
         {
            case "users": name ='Edit user';
                break;
            case "posts": name = 'Edit post';
                break;
            case "pages": name = 'Edit page';
                break;
         }
         var toHtml = '<div class="hero-unit"><div style="margin-bottom: 30px;"><h2 style="float: left; margin-right: 40px;">'+name+'</h2><div style="padding-top: 15px;"><a class="btn btn-primary" href="#" onclick="saveEdited(\''+type+'\', '+id+');return false;"><i class="icon-pencil icon-white"></i> Save</a><a style="margin-left: 10px;" class="btn btn-danger" href="#" onclick="loadAll(\''+type+'\');return false;"><i class="icon-remove icon-white"></i> Cancel</a></div></div>';
         toHtml +='<div style="margin-left: 0px;" class="span5"><h4 style="float: left; line-height: 10px; margin-right: 10px;">Name: </h4> <input type="text" value="'+data[0].name+'" class="span4" id="ent_name" onkeyup="trackAlias()" /></div><div class="span5"><h4 style="float: left; line-height: 10px; margin-right: 10px;">Alias: </h4> <input type="text" value="'+data[0].alias+'" class="span4" id="ent_alias" /></div>';
         if(!data[0].tags)
         {
             data[0].tags = [];
         }
         toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left; line-height: 10px; margin-right: 17px;">Tags: </h4> <input type="text" value="'+data[0].tags.join(" ")+'" class="span5" id="ent_tags" /><span style="margin-left: 10px;vertical-align: top; font-size: 11px; color: rgba(0,0,0,0.5);">(<span style="vertical-align: top;color:red;">NOTE!</span> Separate tags with spaces only!)</span></div>';
         
         var isPublished = '';
         if(data[0].published == 1) isPublished = 'checked="checked"'; 
         toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left;line-height: 10px;margin-right: 17px;">Published</h4><label class="checkbox" style="display: inline-block;padding-top: 5px;"><input '+isPublished+' id="is-published" type="checkbox"></label></div>';
         toHtml +='<div style="clear:both;"></div><textarea style="width: 810px; height: 400px;" id="editor"></textarea>';
         toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left; line-height: 10px; margin-right: 17px;">Description: </h4> <input type="text" value="'+data[0].description+'" class="span9" id="ent_description" /></div>';
         if(!data[0].categories)
         {
             data[0].categories = [];
         }
         toHtml +='<div class="span11" style="margin-left:0;"><h4 style="float: left; line-height: 10px; margin-right: 17px;">Categories: </h4> <div id="cat-list" style="margin-left: 113px;margin-top: 6px;"></div></div>';
         toHtml +='<div style="clear:both;"></div>'
         toHtml +='<div data-wysihtml5-dialog="insertImage" style="display: none;">';
         toHtml +='<label>';
         toHtml +='URL: <input data-wysihtml5-dialog-field="src" value="http://">';
         toHtml +='</label>';
         toHtml +='<label>';
         toHtml +='Alternative text: <input data-wysihtml5-dialog-field="alt" value="">';
         toHtml +='</label>';
         toHtml +='</div>';
         toHtml +='</div>';
         _in.api("get_categories", function(catData){
            catData = $.parseJSON(catData);
            var catList = '';
            catData.forEach(function(cat){
                if(data[0].categories.indexOf(cat.alias)!=-1) var ch = 'checked="checked"';
                else var ch = '';
                catList += '<label class="checkbox" style="float:left; margin-left: 10px;"><input class="catCheckbox" '+ch+' type="checkbox" cat-alias="'+cat.alias+'" /> '+cat.name+'</label>';  
            })
            $("#main_canv").html(toHtml);
            $("#cat-list").html(catList);
            $('#editor').val(data[0].smalldata+'--CUT--'+data[0].data);
            myCodeMirror = CodeMirror.fromTextArea(editor);
         
         });
    }
    
    function saveEdited(type, id)
    {
        if(type!="users" && type!="categories"){
            myCodeMirror.save();
            var name = $("#ent_name").val();
            var alias =  $("#ent_alias").val();
            var text = $('#editor').val();
            var description = $("#ent_description").val();
            var tags = $("#ent_tags").val();
            var published = 0;
            if($("#is-published").is(':checked')){
                published = 1; 
            }
            var categories=[];
            $(".catCheckbox").each(function(i){
                if($(this).is(':checked')) categories[categories.length] = $(this).attr("cat-alias");
            });
            var todo='edit';
            _in.api('post_page_editing', {todo:todo,id:id,name:name,alias:alias,type:type,text:text,description:description,published:published,tags:tags,categories:categories},function(data){
                bootbox.alert(data, function() {
                    if(data == "done"){
                        loadAll(type);
                    }
                }); 
            });
       }
       else if(type=="categories"){
            var todo='edit_category';
            var parent = $("#appendedDropdownButton").attr("alias-val");
            _in.api('post_page_editing', {todo:todo,id:id,parent:parent},function(data){
            bootbox.alert(data, function() {
                if(data == "done"){
                    loadAll(type);
                }
            }); 
        });
       }
       else{
       var todo = "edit_user_pass";
       var password = $("#ent_password").val();
       _in.api('post_page_editing', {todo:todo,id:id,password:password},function(data){
           bootbox.alert(data, function() {
                if(data == "done"){
                    loadAll(type);
                }
            }); 
        });
       }
    }
    
    function openCatEditor(data, id)
    {
        data = $.parseJSON(data);
        _in.api("get_categories", function(catData){
            catData = $.parseJSON(catData);
            var catList = '';
            var curParent = {name:"null",alias:"null"}; 
            catData.forEach(function(cat){
                catList += '<li><a onclick="catEditorSetParent(\''+cat.alias+'\', \''+cat.name+'\');return false;" href="#">'+cat.name+'</a></li>';
                if(data[0].parent == cat.alias){
                    curParent.name = cat.name;
                    curParent.alias = cat.alias;
                }
            });
            catList += '<li><a onclick="catEditorSetParent(\'null\',\'null\');return false;" href="#">null</a></li>';
            var name = 'Edit category';
            var toHtml = '<div class="hero-unit"><div style="margin-bottom: 30px;"><h2 style="float: left; margin-right: 40px;">'+name+'</h2><div style="padding-top: 15px;"><a class="btn btn-primary" href="#" onclick="saveEdited(\'categories\', '+id+');return false;"><i class="icon-pencil icon-white"></i> Save</a><a style="margin-left: 10px;" class="btn btn-danger" href="#" onclick="loadAll(\'categories\');return false;"><i class="icon-remove icon-white"></i> Cancel</a></div></div>';
            toHtml +='<div style="font-size: 14px;">';
            toHtml +='<div>Name: <span style="font-weight: bold;">'+data[0].name+'</span></div>';
            toHtml +='<div>Alias: <span style="font-weight: bold;">'+data[0].alias+'</span></div>';
            toHtml +='<div style="float:left;">Parent (null for root category): </div>'
            toHtml +='<div class="input-append">'
            toHtml +='<div class="btn-group">';
            toHtml +='<input class="input-medium" style="color:#000; cursor:default; background-color: #fff;" alias-val="'+curParent.alias+'" id="appendedDropdownButton" type="text" value="'+curParent.name+'"></input>';
            toHtml +='<button class="btn dropdown-toggle" data-toggle="dropdown">';
            toHtml +='<span class="caret"></span>';
            toHtml +='</button>';
            toHtml +='<ul class="dropdown-menu">';
            toHtml +=catList;
            toHtml +='</ul>';
            toHtml +='</div>';
            toHtml +='</div>';
            toHtml +='</div>';
            toHtml +='</div>';
            $("#main_canv").html(toHtml);
        });
    }
    
    function catEditorSetParent(alias, name)
    {
        $("#appendedDropdownButton").val(name);
        $("#appendedDropdownButton").attr("alias-val",alias);
    }
    
    function reloadTemplate()
    {
        _in.api('reload_template_immediate',function(data){
           bootbox.alert(data); 
        });
    }
    
    var plugins;
    
    function loadPluginsAdmin()
    {
        _in.api("load_plugins_admin", function(data){
            if(data == "error") {
                bootbox.alert(data);
            }
            else{
                plugins = JSON.parse(data);
                var  toHtml ='<h3 style="float: left; margin-right: 40px;">Plugins</h3><div style="margin-top: 15px;"></div><button class="btn btn-inverse" onclick="reloadPlugins()" style="">Reload Plugins</button>';
                toHtml += '<table class="table"><thead><tr><th>Name</th><th>Author</th><th>Replace</th><th>Source</th><th></th></tr></thead><tbody>';
                plugins.plugin.forEach(function(plugin){
                     toHtml += '<tr><td>'+ plugin.name +'</td><td>'+ plugin.author +'</td><td>'+ plugin.content.replace +'</td><td>'+ plugin.content.source +'</td><td><a class="btn" href="#" onclick="showPluginContent(\''+plugin.alias+'\');return false;"><i class="icon-edit"></i></a></td></tr>';
                });
                toHtml += '</tbody></table>';
                $("#main_canv").html(toHtml);
            }
        });
    }
    
    function showPluginContent(alias)
    {
        if(plugins === undefined)
        {
                _in.api("load_plugins_admin", function(data){
                        if(data == "error") {
                            bootbox.alert(data);
                        }
                        else{
                            plugins = JSON.parse(data);
                            showPluginContentProc(alias);
                        }
                });
        }
        else
        {
            showPluginContentProc(alias);
        }    
    }
    
    function  showPluginContentProc(alias)
    {
       var curP;
        plugins.plugin.forEach(function(plugin){
                    if(plugin.alias == alias) curP = plugin;
                });
        var  toHtml ='<div class="hero-unit"><h3 style="float: left; margin-right: 40px;">Plugin: <span style="font-size: 24px; font-weight: normal;">' + curP.name + '</span></h3> <div style="padding-top: 15px;"><a class="btn btn-primary" href="#" onclick="savePlugin(\'' + alias + '\');return false;"><i class="icon-pencil icon-white"></i> Save</a><a style="margin-left: 10px;" class="btn btn-danger" href="#" onclick="loadAll(\'plugins\');return false;"><i class="icon-remove icon-white"></i> Cancel</a></div>';
        toHtml +='<div class="span11" style="margin-left:0;"><h4 style="min-width: 110px;float: left; line-height: 10px; margin-right: 17px;">Name: </h4> <input type="text" value="'+curP.name+'" class="span8" id="plugin_name" /></div>';
        toHtml +='<div class="span11" style="margin-left:0;"><h4 style="min-width: 110px;float: left; line-height: 10px; margin-right: 17px;">Author: </h4> <input type="text" value="'+curP.author+'" class="span8" id="plugin_author" /></div>';
        toHtml +='<div class="span11" style="margin-left:0;"><h4 style="min-width: 110px;float: left; line-height: 10px; margin-right: 17px;">Description: </h4> <input type="text" value="'+curP.description+'" class="span8" id="plugin_description" /></div>';
        toHtml +='<div class="span11" style="margin-left:0;"><h4 style="min-width: 110px;float: left; line-height: 10px; margin-right: 17px;">Replace: </h4> <input type="text" value="'+curP.content.replace+'" class="span8" id="plugin_content_replace" /></div>';
        toHtml +='<div class="span11" style="margin-left:0;"><h4 style="min-width: 110px;float: left; line-height: 10px; margin-right: 17px;">Code: </h4> <textarea style="height: 500px;  background-color: #fff;" class="span8" id="plugin_content_source" ></textarea></div>';
        toHtml +='<div class="span11" style="margin-left:0;"><h4 style="min-width: 110px;float: left; line-height: 10px; margin-right: 17px;">Apply to: </h4>';
        var applPossible=['index','pages','posts','search'];
        applPossible.forEach(function(appl){
            var ch = curP.applyTo.indexOf(appl) != -1 ? 'checked="checked"' : ''; 
            toHtml +='<label class="checkbox" style="float:left; margin-right: 15px; padding-top: 7px;"><input ' + ch + ' id="chbox_'+ appl +'" type="checkbox"> '+ appl +'</label>';
        });
        toHtml +='<span style="color:#999; font-size: 15px;">(Don\'t forget to put "replacer" to the conforming template)</span></div>';
        toHtml +='<div style="clear:both;"></div></div>';
        $("#main_canv").html(toHtml);
        $('#plugin_content_source').val(curP.content.replaceWith);
        myCodeMirror = CodeMirror.fromTextArea(plugin_content_source);
        $(".CodeMirror").css('font-size','14px');
    }
    function savePlugin(alias)
    {
        var name = $("#plugin_name").val();
        var author = $("#plugin_author").val(); 
        var description = $("#plugin_description").val();
        var replace = $("#plugin_content_replace").val();
        myCodeMirror.save();
        var replacewith = $("#plugin_content_source").val();
        var applyto = "";
        if($("#chbox_index").is(":checked")) applyto += "index";
        if($("#chbox_pages").is(":checked")) applyto += ",pages";
        if($("#chbox_posts").is(":checked")) applyto += ",posts";
        if($("#chbox_search").is(":checked")) applyto += ",search";
        _in.api("save_plugin", {name:name,alias:alias, author:author, description:description, replace:replace, replacewith:replacewith, applyto:applyto}, function(data){
            bootbox.alert(data, function() {
                if(data == "done"){
                    loadAll("plugins");
                }
            });
        });
    }
    
    function reloadPlugins()
    {
        _in.api('reload_plugins',function(data){
           bootbox.alert(data); 
        });
    }
    
    function loadDashboard()
    {
        _in.api("load_dashboard", function(data){
            data = $.parseJSON(data);
            _in.api("load_all_pages", function(pages){
                var options = '<li><a onclick="preSetOption(\'index_page\', \'$list_of_posts\', \'<b>Basic:</b> Latest posts</a>\'); return false;" href="#"><b>Basic:</b> Latest posts</a></li>';
                pages = $.parseJSON(pages);
                var i = pages.length;
                while(i--){
                    options += '<li><a onclick="preSetOption(\'index_page\', \''+pages[i].alias+'\', \''+pages[i].name+'\'); return false;" href="#">'+pages[i].name+'</a></li>';
                }    
                var  toHtml ='<div class="hero-unit"><h3 style="float: left; margin-right: 40px;">Dashboard</h3>';
                toHtml +='<div style="clear:both;"></div>';
                toHtml +='<div class="span10">';
                toHtml +='<div class="input-append">';
                toHtml +='<label style="float:left; padding-top: 5px; margin-right: 40px;" class="control-label" for="appendedDropdownButton">Index content: </label>';
                toHtml +='<span class="input-xlarge uneditable-input" style="color:#000; cursor:default; background-color: #fff;" readonly="readonly" id="appendedDropdownButton" type="text">'+data.indexName+'</span>';
                toHtml +='<div class="btn-group">';
                toHtml +='<button class="btn dropdown-toggle" data-toggle="dropdown">';
                toHtml +='<span class="caret"></span>';
                toHtml +='</button>';
                toHtml +='<ul class="dropdown-menu" style="left: -131px;">';
                toHtml +=options;
                toHtml +='</ul>';
                toHtml +='</div>';
                toHtml +='</div>';
                toHtml +='<button onclick="saveState(\'index_page\')" id="indexSaver" class="btn btn-inverse" style="display: none; margin-left: 10px; vertical-align:top;" data-toggle="dropdown">';
                toHtml +='Save';
                toHtml +='</button>';
                toHtml += '</div>';
                $("#main_canv").html(toHtml);
            });
        });
    }
    var preSetState = {
     index_page:null
    };
    function preSetOption(state, value, UI)
    {
        preSetState[state] = value;
        $("#indexSaver").css("display","inline-block");
        $("#appendedDropdownButton").html(UI);
    }
    
    function saveState(state)
    {
        switch(state){
            case "index_page":
                                _in.api("set_index",{set:preSetState[state]}, function(data){
                                        bootbox.alert(data, function() {
                                        if(data == "done"){
                                            $("#indexSaver").css("display","none");
                                        }
                                    });
                                });
            break;
        }
    }
    
</script>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{SITE_URL}}">{{APPNAME}}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#dashboard" onclick="loadAll('dashboard');">Dashboard</a></li>
              <li><a href="#pages" onclick="loadAll('pages');">Pages</a></li>
              <li><a href="#posts" onclick="loadAll('posts');">Posts</a></li>
              <li><a href="#categories" onclick="loadAll('categories');">Categories</a></li>
              <li><a href="#users" onclick="loadAll('users');">Users</a></li>
              <li><a href="#templates" onclick="loadAll('templates');">Templates</a></li>
              <li><a href="#plugins" onclick="loadPluginsAdmin();">Plugins</a></li>
            </ul>
             {{USER_MENU}} 
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" id="main_canv">

      <h1>InvaNode CMS Admin Panel</h1>
      <h3>{{APPNAME}} Statistics</h3>
      <div style="margin-top: 20px;" class="span7">
      <table class="table">
        <thead>
            <tr>
                <th>Statistics</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Number of Pages</td>
                <td>{{NUMBER_OF_PAGES}}</td>
            </tr>
            <tr>
                <td>Number of Posts</td>
                <td>{{NUMBER_OF_POSTS}}</td>
            </tr>
            <tr>
                <td>Number of Users</td>
                <td>{{NUMBER_OF_USERS}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
      </table>    
      </div>    
    </div> <!-- /container -->
</body>
</html>